In [13]:
a = 3

In [14]:
print(a)

3

In [10]:
b = 3
c = 4

In [11]:
print(b+c)

7

In [12]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [15]:
import pandas as pd

In [16]:
entries = {
    'maths': [50, 60,70,50,40],
    'science': [40,20,50,60,70]
}

In [17]:
df1 = pd.DataFrame(entries)

In [18]:
df1

   maths  science
0     50       40
1     60       20
2     70       50
3     50       60
4     40       70

In [20]:
df1['science']

0    40
1    20
2    50
3    60
4    70
Name: science, dtype: int64

In [22]:
df1[df1['maths'] >= 50]

   maths  science
0     50       40
1     60       20
2     70       50
3     50       60